body {
  background-color: rgba(52,53,65);
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  color: #d1d5db;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.messages-container {
  width: 75%;
  color: #d1d5db;
  overflow-y: auto;
  padding-bottom: 40px;
}

.message {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message__owner {
  color: grey;
  font-size: 0.75rem;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 50px;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  position: absolute;
  bottom: 0;
}

.user-input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: transparent;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  background-color: rgba(68,70,84);
  color: rgb(249, 249, 252);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.submit-button {
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  background-color: rgba(68,70,84);
  color: rgba(236,236,241);
}
.submit-button:hover {
  cursor: pointer;
}
