body {
  background-color: rgba(52,53,65);
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-messages {
  width: 100vw;
  color: #d1d5db;
}

.message {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message__owner {
  color: grey;
  font-size: 0.75rem;
  /* border: 1px solid grey; */
  width: 100%;
}

.user-form {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75vw;
}

.user-input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: transparent;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  background-color: rgba(68,70,84);
  color: rgb(249, 249, 252);
  width: 100%;
}

.submit-button {
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  background-color: rgba(68,70,84);
  color: rgba(236,236,241);
}
.submit-button:hover {
  cursor: pointer;
}
